Repository jHernandezdev/samples-k8s: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-back.yml, azure-pipelines.yml

azure-pipelines-back.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      displayName: Build and push containers
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        inputs:
          containerRegistry: Druni-acr
          repository: webapp.back
          command: buildAndPush
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      displayName: Build and push containers
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        inputs:
          containerRegistry: Druni-acr
          repository: webapp.front
          command: buildAndPush
  ...

Cambio en el imagePullPolicy
  webapp/.k8s/webapp.back.deploy.yml
  webapp/.k8s/webapp.front.deploy.yml
Due: none

Update azure-pipelines-front.yml for Azure Pipelines
  azure-pipelines-front.yml
Due: none

Update azure-pipelines-back.yml for Azure Pipelines
  azure-pipelines-back.yml
Due: none

Cambio en el titulo
  webapp/webapp.front/Pages/Movies/Index.cshtml
Due: azure-pipelines.yml

Pelicula nueva
  webapp/webapp.back/Controllers/MoviesController.cs
Due: azure-pipelines-back.yml

Correccion de falo de compilacion
  webapp/webapp.back/Controllers/MoviesController.cs
Due: azure-pipelines-back.yml

Create sql-server.yml
  sql-server.yml
Due: none

Logs
  SALIDA.TXT
Due: none

Integracion con ACR Druni
  webapp/.k8s/secret.yml
  webapp/.k8s/sqlserver.all.yml
  webapp/.k8s/webapp.back.deploy.yml
  webapp/webapp.back/Controllers/MoviesController.cs
  webapp/webapp.back/Startup.cs
  webapp/webapp.back/appsettings.json
Due: azure-pipelines-back.yml

Titulo cambiado
  webapp/webapp.front/Pages/Index.cshtml
Due: azure-pipelines.yml

Cambio en el acceso a la cadena de conexion
  webapp/webapp.back/Startup.cs
  webapp/webapp.back/appsettings.json
Due: azure-pipelines-back.yml

Loggin anyadido
  webapp/webapp.back/Program.cs
  webapp/webapp.back/Startup.cs
Due: azure-pipelines-back.yml

Corregido error de compilacion
  webapp/webapp.back/Program.cs
  webapp/webapp.back/Startup.cs
Due: azure-pipelines-back.yml

Cambio en la cadena de conexion de Env
  webapp/.k8s/webapp.back.deploy.yml
  webapp/webapp.back/appsettings.json
Due: azure-pipelines-back.yml

Cambio cadena de conexion
  webapp/.k8s/sqlserver.all.yml
  webapp/.k8s/webapp.back.deploy.yml
Due: none

Cambio cadena conexion Server por Data Source
  webapp/.k8s/webapp.back.deploy.yml
  webapp/webapp.back/appsettings.json
Due: azure-pipelines-back.yml

Devolver error al internar conectar con la BD
  webapp/webapp.back/Controllers/MoviesController.cs
Due: azure-pipelines-back.yml

Cambio para mostrar error
  webapp/webapp.back/appsettings.json
  webapp/webapp.front/Pages/Movies/Index.cshtml
  webapp/webapp.front/Pages/Movies/Index.cshtml.cs
  webapp/webapp.front/Properties/launchSettings.json
  webapp/webapp.front/Startup.cs
Due: azure-pipelines-back.yml, azure-pipelines.yml

Quitamos el error
  webapp/.k8s/webapp.front.deploy.yml
  webapp/webapp.front/Pages/Movies/Index.cshtml
  webapp/webapp.front/Pages/Movies/Index.cshtml.cs
Due: azure-pipelines.yml

Cambio en la cadena de conexion por defecto
  webapp/webapp.front/Startup.cs
Due: azure-pipelines.yml

Cambio en cadena de conexion
  webapp/.k8s/webapp.back.deploy.yml
Due: none

Cambio en el nombre del SQL Server
  webapp/.k8s/webapp.back.deploy.yml
Due: none

Cambio en el replicaset
  webapp/.k8s/webapp.front.deploy.yml
Due: none

Cambio
  webapp/.k8s/webapp.back.deploy.yml
  webapp/webapp.back/Controllers/MoviesController.cs
Due: azure-pipelines-back.yml

error
  webapp/webapp.back/Controllers/MoviesController.cs
Due: azure-pipelines-back.yml

Error
  webapp/webapp.back/Controllers/MoviesController.cs
Due: azure-pipelines-back.yml

Cambios en el front
  webapp/webapp.front/Pages/Movies/Index.cshtml.cs
  webapp/webapp.front/Program.cs
Due: azure-pipelines.yml

Create dnsutils.deploy.yml
  webapp/.k8s/dnsutils.deploy.yml
Due: none

Cambios en los Deploys
  webapp/.k8s/dnsutils.yml
  webapp/.k8s/webapp.back.deploy.yml
Due: none

Readme modification
  README.md
Due: none

Another change
  README.md
Due: none

Cambio en el back
  webapp/.k8s/webapp.back.deploy.yml
  webapp/webapp.back/Controllers/MoviesController.cs
Due: azure-pipelines-back.yml

Comandos para configurar el cluster y el pipeline
  README.md
Due: none

Quitado los logs
  webapp/webapp.back/Controllers/MoviesController.cs
  webapp/webapp.back/Startup.cs
  webapp/webapp.front/Pages/Movies/Index.cshtml.cs
Due: azure-pipelines-back.yml, azure-pipelines.yml

Cambio titulo del front
  myapp.yaml
  pv.yaml
  sql-server.yml
  webapp/webapp.front/Pages/Index.cshtml
  webapp/webapp.front/Pages/Index.cshtml.cs
  webapp/webapp.front/Pages/Shared/_Layout.cshtml
Due: azure-pipelines.yml

Cambio en el titulo
  webapp/webapp.front/Pages/Shared/_Layout.cshtml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-back.yml: any of: webapp/webapp.back, but not: azure-pipelines-back.yml
  azure-pipelines.yml: any of: webapp/webapp.front, but not: azure-pipelines.yml
